.text-type-container {
  display: inline-flex;
  align-items: center;
  font-family: inherit;
}

.text-type-text {
  display: inline-block;
}

.text-type-cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s infinite;
  font-weight: 400;
}

@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
